<script>
var Name_EN = ""
var Name_KH = ""
var Classid = ""

var imageurl = ""
var owner = ""
var content = ""
var title = ""
var subjectBacII = ""

function passData(en, kh, id){
	Name_EN = en
	Name_KH = kh
  	Classid = id
  	getData()
}

function passPost(url,cont,til){
  imageurl = url
  content = cont
  title = til
  getPost()
}

function getPost(){
  document.getElementById("contentBox").value = content
  document.getElementById("titleBox").value = title
  document.getElementById("imagebox").value += imageurl
}

function getData(){
  	document.getElementById("edit_En").value = Name_EN
  	document.getElementById("edit_Kh").value = Name_KH
}
</script>
{% extends 'admin/master.html' %} {% block body %} {{ super() }} {% if
current_user.is_authenticated %}

<!-- Content Header (Page header) -->
<section class="content-header affix">
	<h1>
    	Bac II Content
  	</h1>
  	<ol class="breadcrumb">
    	<li>
      		<a href="/admin/"><i class="fa fa-dashboard"></i> Home</a>
    	</li>
    	<li class="active">Custom</li>
  	</ol>
</section>

<section class="content">
  <div class="row">
    <!-- Left col -->
    <section class="container">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
        <li><a data-toggle="tab" href="#post">Post</a></li>
        <li><a data-toggle="tab" href="#subject">Subject</a></li>
      </ul>

      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          {%for x in post %}
          
          <div class="row" style="padding: 1rem; background-color: white; margin: 1rem;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);">        
            <div class="col-md-1"></div>
            <div class="center-block col-md-10" style="text-align: left; display: inline;">          
              <h5 class="card-title">{{x.owner}}</h5>
              <div  style="width: 18rem; display: inline;">
                <img
                  src={{x.imageurl[0]}}
                  class="card-img-top"
                  width="20%"
                  height="auto"
                  alt="..."
                  style="display: inline-block; float: left;"
                />
                <div style="float: left; margin-left: 2rem;">
                  <p class="card-text" style="height: 8%; width: 200px; overflow: hidden;">{{x.content}}</p>
                </div>

                <div style="float: right;">
                  <a href="#" class="btn">Preview</a>
                  <button type="button" name="btn" onclick="passPost(`{{x.imageurl}}`,`{{x.content}}`,`{{x.title}}`)" value="Submit" id="submitBtn" data-toggle="modal" data-target="#post-submit" class="btn btn-warning"> Edit </button>
                  <a href="#" class="btn btn-primary">Like</a>
                  <button type="submit" class="btn btn-danger fa fa-trash" style="height: auto;"> Delete
                  </button>
                </div>
    
              </div>   
            </div>
            <div class="col-md-1"></div>    
          </div>
          {% endfor %}
        </div>
        <div id="post" class="tab-pane fade">
          <!-- enctype="multipart/form-data" -->
		  <form class="form-horizontal" action="/admin/bacii/" method="POST">
			<input name="owner" value={{current_user.id}} hidden/>
			<input name="form_method" value="post_bacii" hidden/>
			<div class="form-group">
				<label class="col-sm-2 control-label">Content</label>
				<div class="col-sm-10">
				  <input name="title" class="form-control rounded-0" placeholder="Title"></input>
				  <p>*Example: Hello This is Title Post</p>
				</div>
			  </div>
			<div class="form-group">
              <label class="col-sm-2 control-label">Subject</label>
              <div class="col-sm-10">
                <select name="subject" class="form-control">
					<option value="Null">None</option>
                  	{% for x in list_subject %}
                    <option value={{x.row}}>{{x.name_en}}</option>
                  	{% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Content</label>
              <div class="col-sm-10">
                <textarea name="text_content" class="form-control rounded-0" placeholder="Mission En" rows="5"></textarea>
                <p>*Example: Today we post content</p>
              </div>
            </div>
            <!-- <div class="form-group">
              <label for="exampleInputFile">File input</label>
              <input name="imageurl" type="file" accept="image/*">
              <p class="help-block">Example block-level help text here.</p>
            </div> -->
            <div class="form-group">
              <label class="col-sm-2 control-label">File input</label>
              <div class="col-sm-10">
                <textarea name="imageurl" class="form-control rounded-0" placeholder="Image" rows="5"></textarea>
                <p>*Example:</p>
                <p>ImageUrl1,</p>
                <p>ImageUrl2,</p>
                <p>ImageUrl3</p>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Upload</button>
              </div>
            </div>
          </form>
        </div>
        <div id="subject" class="tab-pane fade">

          <button style="margin: 1em 1em 1em 0em;" id="addSubject" type="button" name="btn" value="Submit" id="submitBtn" data-toggle="modal" data-target="#add_subject" class="btn btn-primary">
            Add Subject
          </button>        

          <table id="school_table" class="m-5 table table-striped table-bordered table-sm">
            <thead class="thead-dark">
              <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Name En</th>
                <th scope="col" class="text-center">Name Kh</th>
                <th scope="col" class="no-sort text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for x in list_subject %}
              <tr>
                <th scope="row" class="text-center">{{x.row}}</th>
                <th class="text-center">{{x.name_en}}</th>
                <th class="text-center">{{x.name_kh}}</th>
                <th class="text-center">
                  <button type="button" name="btn" onclick="passData(`{{x.name_en}}`,`{{x.name_kh}}`),`{{x.row}}`" value="Submit" id="submitBtn" data-toggle="modal" data-target="#confirm-submit" class="btn btn-default">
                    <i class="fa fa-edit"></i>
				  </button>
				  <form action="/admin/bacii/" method="POST">
					<button type="submit" class="btn btn-danger">
						<i class="fa fa-trash"></i>
				  	</button>
					<input name="form_method" value="delete_subject" hidden/>
					<input name="subject_id" value={{x.row}} hidden/>
				  </form>
                </th>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="modal fade" id="add_subject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">Add Subject</div>
              <form id="form_insert_subject" class="form-horizontal" action="/admin/bacii/" method="POST">
                <br />
                <div class="form-group">
                  <input name="form_method" value="save_subject_bacii" hidden/>
                  <label class="col-sm-2 control-label">Subject Name En</label>
                  <div class="col-sm-9">
                    <input id="input_subject_name_en" type="text" name="subject_name_en" class="form-control" placeholder="Name En"/>
                    <p>*Example: Physical</p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Subject Name Kh</label>
                  <div class="col-sm-9">
                    <input id="input_subject_name_kh" type="text" name="subject_name_kh" class="form-control" placeholder="Name Kh"/>
                    <p>*Example: រូបវិទ្យា</p>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <input id="submit" type="submit" value="Save" class="btn btn-default"/>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                Edits
              </div>
              <form class="form-horizontal">
                <br />
                <div class="form-group">
                  <label class="col-sm-2 control-label">Name En</label>
                  <div class="col-sm-9">
                    <input id="edit_En" type="text" class="form-control" placeholder="Name En"/>
                    <p>*Example: Physical</p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Name Kh</label>
                  <div class="col-sm-9">
                    <input id="edit_Kh" type="text" class="form-control" placeholder="Name Kh" />
                    <p>*Example: រូបវិទ្យា</p>
                  </div>
                </div>
                <div class="modal-footer">
                	<button type="button" class="btn btn-default" data-dismiss="modal">
                		Cancel
                	</button>
                	<a href="#" id="submit" class="btn btn-success success">Update</a>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Test Test Edit box for post-->
        <div class="modal fade" id="post-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                Edits
              </div>
              <div class="row">
                <div class="col-md-1"></div>
              <div class="col-md-10" >
              <form class="form-horizontal" style="padding: 2rem;">
                <input name="owner" value={{current_user.id}} hidden/>
			<input name="form_method" value="post_bacii" hidden/>
			<div class="form-group">
				<label class="col-sm-2 control-label">Content</label>
				<div class="col-sm-10">
				  <input name="title" class="form-control rounded-0" placeholder="Title" id="titleBox"></input>
				  <p>*Example: Hello This is Title Post</p>
				</div>
			  </div>
			<div class="form-group">
              <label class="col-sm-2 control-label">Subject</label>
              <div class="col-sm-8">
                <select name="subject" class="form-control">
					<option value="Null">None</option>
                  	{% for x in list_subject %}
                    <option value={{x.row}}>{{x.name_en}}</option>
                  	{% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Content</label>
              <div class="col-sm-10">
                <textarea name="text_content" id="contentBox" class="form-control rounded-0" placeholder="Mission En" rows="5"></textarea>
                <p>*Example: Today we post content</p>
              </div>
            </div>
            <!-- <div class="form-group">
              <label for="exampleInputFile">File input</label>
              <input name="imageurl" type="file" accept="image/*">
              <p class="help-block">Example block-level help text here.</p>
            </div> -->
            <div class="form-group">
              <label class="col-sm-2 control-label">File input</label>
              <div class="col-sm-10">
                <textarea name="imageurl" class="form-control rounded-0" placeholder="Image" rows="5" id="imagebox"></textarea>
                <p>*Example:</p>
                <p>ImageUrl1,</p>
                <p>ImageUrl2,</p>
                <p>ImageUrl3</p>
              </div>
            </div>
            <div class="form-group" >
              <div style="margin-bottom: 0.5rem;">
                <button type="submit" class="btn btn-primary " style="width: 100%;">Upload</button>
              </div>
            </div>
              </form>
            </div>
              <div class="col-md-1"></div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.Left col -->
  </div>
  <!-- /.row (main row) -->
</section>
<!-- /.content -->

<script
  src="{{url_for('static',filename='js/jquery-3.3.1.min.js')}}"
  type="text/javascript"
></script>
<script
  src="{{url_for('static',filename='js/jquery.dataTables.min.js')}}"
  type="text/javascript"
></script>
<script
  src="{{url_for('static',filename='js/dataTables.jqueryui.min.js')}}"
  type="text/javascript"
></script>
<script
  src="{{url_for('static',filename='js/dataTables.bootstrap.min.js')}}"
  type="text/javascript"
></script>


<script
  src="../../static/js/pages/bacii.js"
  type="text/javascript"
></script>

{% else %}

<center>
  <section class="content" style="color: white">
    <div class="col-sm-12">
      <h1>Flask-Admin example</h1>
      <p class="lead">
        Authentication
      </p>
      <p>
        This example shows how you can use Flask-Admin in an admin template,
        <br />
        here I used AdminLTE and
        <a
          href="https://pythonhosted.org/Flask-Security/index.html"
          target="_blank"
          >Flask-Security</a
        >
        for authentication.
      </p>
      {% if not current_user.is_authenticated %}
      <p>
        You can register as a regular user, or log in as a superuser with the
        following credentials: <br /><br />

        email: <b>admin</b> <br />
        password: <b>admin</b> <br />
        <br />
      </p>

      <p>
        <a class="btn btn-primary" href="{{ url_for('security.login') }}"
          >Login</a
        >
        <a class="btn btn-default" href="{{ url_for('security.register') }}"
          >Register</a
        >
      </p>
      {% endif %}
      <br />
      <p>
        <a class="btn btn-primary" href="/"
          ><i class="glyphicon glyphicon-chevron-left"></i> Back</a
        >
      </p>
    </div>
  </section>
</center>

<br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
{% endif %} {% endblock body %}
